<div class = "menu">
        <a href="/">Upload</a>
        <a href="/FileList">Filemenager</a>
</div>
<div class="content">
    <div class="side-menu">
        <h2>Upload</h2>
    </div>
    <div class="files">
        <form enctype="multipart/form-data" method="POST" action="/handleUpload">
            <input type="file" multiple required name = "files">
            <button type = "submit">Send</button>
        </form>
    </div>
</div>